<!--
  Generated template for the CreateIssuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Issue</ion-title>
    
    <!-- Logout button -->
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (submit)="createIssue($event)" #issueForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label>Issue Type</ion-label>
        <ion-select name="issueTypeHref" [(ngModel)]="'/api/issueTypes/'+issuerequest.issueTypeHref">
          <ion-option *ngFor='let issuetype of issuetypes' value="{{issuetype.id}}">{{issuetype.description}}</ion-option>
        </ion-select>
      </ion-item>
 
      <ion-item>
        <ion-label >Description</ion-label>
        <ion-input type="text" name="description" #descInput="ngModel" [(ngModel)]="issuerequest.description" required></ion-input>
      </ion-item>
      <!-- Error message displayed if the name is invalid -->
      <ion-item *ngIf="descInput.invalid && descInput.dirty" no-lines>
        <p ion-text color="danger">Description is required.</p>
      </ion-item>
      <ion-item>
        <button ion-button (click)='takePicture()'>prendre une photo</button>
        <img *ngIf='pictureData' src='data:image/jpeg;base64,{{ pictureData }}' />
      </ion-item>
      
    </ion-list>
    <button ion-button type="submit" [disabled]="issueForm.invalid" block>Report Issue</button>
  </form>
  
  


</ion-content>
